.DS_Store
node_modules/
package-lock.json
npm-debug.log*

# not output library files
/src/
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
webpack.conf.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln